{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<article class="post {{post_class}}">
    <header class="post-header">
        <h2 class="post-title">{{title}}</h2>
        <div class="folded"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></div>
    </header>
    <section class="post-excerpt">
        <p>{{content}}</p>
    </section>
    <span class="post-meta">{{tags prefix="Tags: "}}</span>
</article>

{{/post}}
