{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="post {{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        <div class="folded"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></div>
    </header>
    <section class="post-excerpt">
        <p>{{content words="100"}}</p>
        <p><a class="read-more" href="{{url}}">Read More</a></p>
    </section>
    <span class="post-meta">{{tags prefix="Tags: "}}</span>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<center>{{pagination}}</center>